* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100vh;
}

body {
  position: relative;
}

.App {
  height: 100vh;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  padding: 2em;
  margin-bottom: 1em;
  background-color: #64748b;
  height: 10%;
  min-height: 10%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
}

.logo-lettering {
  padding: .1rem 0 0 .6rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #64748b;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

h2 {
  font-family: Helvetica, sans-serif;
  color: #64748b;
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  padding: 4em 0 7em 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  min-height: 90vh;
  background-color: #cbd5e1;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 2em;
}

.personal-info, .education, .work-experience {
  margin: .8em;
}

.personal-info > input {
  display: flex;
  flex-direction: row;
  width: 30vw;
  height: 30px;
  margin: .5em;
  border: none;
  padding-left: .5em;
}

.personal-info > button {
  width: 30vw;
  height: 30px;
  margin: .5em;
  border: none;
  background-color: #64748b;
  color: #ffffff;
}

.education > input {
  display: flex;
  width: 30vw;
  height: 30px;
  margin: .5em;
  border: none;
  padding-left: .5em;
}

.education > button {
  width: 30vw;
  height: 30px;
  margin: .5em;
  border: none;
  background-color: #64748b;
  color: #ffffff;
}

.work-experience > input {
  display: flex;
  width: 30vw;
  height: 30px;
  margin: .5em;
  border: none;
  padding-left: .5em;
}

.work-experience > button {
  width: 30vw;
  height: 30px;
  margin: .5em;
  border: none;
  background-color: #64748b;
  color: #ffffff;
}

.cv-profile {
  background-color: #cbd5e1;
  width: 40vw;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.personal-info-profile {
  display: flex;
  background-color: #64748b;
  min-height: 40vh;
}

.personal-profile {
  /* background-color: aqua; */
  width: 20vw;
  min-height: 40vh;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  min-height: 40vh;
}

img {
  max-width: 250px;
  max-height: 250px;
}

.personal-profile {
  padding: 6em 2em 2em 2em;

}

h3, p {
  font-family: Helvetica, sans-serif;
  color: #ffffff;
  margin: .5em;
}

.profile-card {
  background-color: #64748b;
  margin: .5em 2em .5em 2em;
  padding: 1em;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.education-profile, .work-experience-profile {
  margin-top: 2em;
}

@media (max-width: 400px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header {
    display: flex;
    justify-content: center;
  }

  .form-container {
    min-width: 80vw;
  }
}